<div class="text-block-inner">
  <p class="title-small text-uppercase font-weight-600 black-text letter-spacing-1">{{ label }}</p>
  <a class="highlight-button btn btn-small no-margin" href="{{ path('entity.node.canonical', {'node': node.id}) }}">{{ 'Find out more' |t }}</a>
</div>
