{% for item in items %}
  {% set duration = loop.index + 3 %}
<div class="col-md-3 col-xs-12 text-center team-member position-relative wow fadeInUp" data-wow-duration="{{ duration }}00ms">
   {{ item.content }}
  </div>
{% endfor %}
