{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

<div class="col-md-9 no-padding-right accordion-menu text-right">
  <div class="navbar-collapse collapse">
    <ul id="accordion" class="nav navbar-nav navbar-right panel-group">
      {% for item in items %}
        <li class="dropdown panel">
          <a href="{{ item.url }}" class="dropdown-toggle collapsed">{{ item.title }} <i class="fa fa-angle-down"></i></a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
