<!-- head section -->
<section class="page-title parallax3 parallax-fix page-title-large">
  <div class="opacity-medium bg-black"></div>
  <img class="parallax-background-img" src="http://placehold.it/1920x1200" alt="" />
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center animated fadeInUp">
        <div class="separator-line bg-yellow no-margin-top margin-four"></div>
        <!-- page title -->
        <h1 class="white-text">{{ raw_title }}</h1>
        <!-- end page title -->
        <!-- page title tagline -->
        <span class="white-text">We believe in you.</span>
        <!-- end title tagline -->
      </div>
    </div>
  </div>
</section>
<!-- end head section -->

<!-- content section -->
<section class="wow fadeIn">
  <div class="container">
    <div class="row">
      <!-- content  -->
      <div class="col-md-8 col-sm-8">
        <div class="clearfix">
          <div class="col-md-12 col-sm-12 no-padding">
            <p class="text-med margin-five no-margin-top">{{ raw_body }}</p>
            {{ content.field_content }}
          </div>
        </div>
        <div class="clearfix margin-five no-margin-bottom sm-margin-top-seven">
          <div class="col-md-6 col-sm-12 no-padding-left sm-no-padding">
            <img src="http://placehold.it/1200x800" alt=""/><br><br>
            <p class="text-large text-black">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
            <div class="wide-separator-line no-margin-lr"></div>
            <p class="text-med no-margin-bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
          </div>
          <div class="col-md-6 col-sm-12 no-padding-right sm-no-padding sm-margin-top-seven">
            <img src="http://placehold.it/1200x800" alt=""/><br><br>
            <p class="text-large text-black">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
            <div class="wide-separator-line no-margin-lr"></div>
            <p class="text-med no-margin-bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
          </div>
        </div>
        <div class="clearfix">
          <div class="col-md-12 col-sm-12 no-padding margin-ten">
            <img src="http://placehold.it/1200x800" alt=""/>
          </div>
        </div>
        <div class="clearfix">
          <div class="blog-image bg-white">
            <!-- post details blockquote -->
            <blockquote class="bg-gray">
              <p>Reading is not only informed by what’s going on with us at that moment, but also governed by how our eyes and brains work to process information. What you see and what you’re experiencing as you read these words is quite different.</p>
              <footer>Jason Santa Maria</footer>
            </blockquote>
            <!-- end post details blockquote -->
          </div>
        </div>
      </div>
      <!-- end content  -->
      <!-- sidebar  -->
      <div class="col-md-3 col-sm-4 sidebar col-md-offset-1 xs-margin-top-seven">
        <!-- widget  -->
        <div class="widget">
          <h5 class="widget-title font-alt">More About Company</h5>
          <div class="thin-separator-line bg-dark-gray no-margin-lr"></div>
          <div class="widget-body">
            <ul class="category-list">
              <li><a href="services.html">Web Development</a></li>
              <li><a href="services.html">Logo and Identity</a></li>
              <li><a href="services.html">Graphic Design</a></li>
              <li><a href="services.html">App Development</a></li>
              <li><a href="services.html">Social Marketing</a></li>
              <li><a href="services.html">Content Creation</a></li>
            </ul>
          </div>
        </div>
        <!-- end widget  -->
        <!-- widget  -->
        <div class="widget">
          <h5 class="widget-title font-alt">Popular posts</h5>
          <div class="thin-separator-line bg-dark-gray no-margin-lr"></div>
          <div class="widget-body">
            <ul class="widget-posts">
              <li class="clearfix">
                <a href="blog-single-left-sidebar.html"><img src="http://placehold.it/480x358" alt=""/></a>
                <div class="widget-posts-details"><a href="blog-single-left-sidebar.html">Elements of a Launch Page</a> Simon Schmid - 02 January</div>
              </li>
              <li class="clearfix">
                <a href="blog-single-left-sidebar.html"><img src="http://placehold.it/480x358" alt=""/></a>
                <div class="widget-posts-details"><a href="blog-single-left-sidebar.html">The Art of Design Etiquette</a> Paul Scrivens - 06 January</div>
              </li>
              <li class="clearfix">
                <a href="blog-single-left-sidebar.html"><img src="http://placehold.it/480x358" alt=""/></a>
                <div class="widget-posts-details"><a href="blog-single-left-sidebar.html">Easier is Better</a> Paul Boag - 08 January</div>
              </li>
              <li class="clearfix">
                <a href="blog-single-left-sidebar.html"><img src="http://placehold.it/480x358" alt=""/></a>
                <div class="widget-posts-details"><a href="blog-single-left-sidebar.html">Successful Websites</a> Simon Schmid - 16 January</div>
              </li>
            </ul>
          </div>
        </div>
        <!-- end widget  -->
        <!-- widget  -->
        <div class="widget">
          <h5 class="widget-title font-alt">Happy Client Say's</h5>
          <div class="thin-separator-line bg-dark-gray no-margin-lr"></div>
          <div class="widget-body clearfix">
            <div class="testimonial-style2">
              <p class="no-margin-top">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
              <span class="name black-text">Adario Strange - Apple</span>
              <i class="fa fa-quote-left small-icon yellow-text display-block margin-five no-margin-bottom"></i>
            </div>
          </div>
        </div>
        <!-- end widget  -->
        <!-- widget  -->
        <div class="widget no-margin-bottom">
          <h5 class="widget-title font-alt">Text Widget</h5>
          <div class="thin-separator-line bg-dark-gray no-margin-lr"></div>
          <div class="widget-body">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div>
        </div>
        <!-- end widget  -->
      </div>
      <!-- end sidebar  -->
    </div>
  </div>
</section>
<!-- end content section -->
