{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
<!-- footer -->
<footer>
  <div class=" bg-white footer-top">
    <div class="container">
      <div class="row margin-four">
        <!-- phone -->
        <div class="col-md-4 col-sm-4 text-center"><i class="icon-phone small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom">+44 203 903 1100</h6></div>
        <!-- end phone -->
        <!-- address -->
        <div class="col-md-4 col-sm-4 text-center"><i class="icon-map-pin small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom">Birmingham | London | Chicago</h6></div>
        <!-- end address -->
        <!-- email -->
        <div class="col-md-4 col-sm-4 text-center"><i class="icon-envelope small-icon black-text"></i><h6 class="margin-two no-margin-bottom"><a href="mailto:hello@righttimerecruitment.co.uk" class="black-text">hello@righttimerecruitment.co.uk</a></h6></div>
        <!-- end email -->
      </div>
    </div>
  </div>
  <div class="container footer-middle">
    <div class="row margin-four no-margin">
      <div class="col-md-6 col-sm-12 sm-text-center sm-margin-bottom-four">
        {{ elements.footer }}
      </div>
      <div class="col-md-6 col-sm-12 footer-social text-right sm-text-center">
        <!-- social media link -->
        <a target="_blank" href="https://www.linkedin.com/company/right-time-recruitment/"><i class="fa fa-linkedin"></i></a>
        <a target="_blank" href="https://twitter.com/RT_Recruitment"><i class="fa fa-twitter"></i></a>
        <a target="_blank" href="https://www.instagram.com/rt_recruitment/"><i class="fa fa-instagram"></i></a>
        <a target="_blank" href="https://www.facebook.com/righttimerecruitment/"><i class="fa fa-facebook"></i></a>
        <!-- end social media link -->
      </div>
    </div>
  </div>
  <div class="container-fluid bg-dark-gray footer-bottom">
    <div class="container">
      <div class="row margin-three">
        <!-- copyright -->
        <div class="col-md-6 col-sm-6 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one">
          &copy; {{ 'now'|date('Y') }} Right Time Recruitment Ltd.
        </div>
        <!-- end copyright -->
        <!-- logo -->
        <div class="col-md-6 col-sm-6 col-xs-12 footer-logo text-right xs-text-center">
          <a href="/"><img src="/themes/custom/right_time/assets/images/rtr-logos/rtr-white.png"/></a>
        </div>
        <!-- end logo -->
      </div>
    </div>
  </div>
  <!-- scroll to top -->
  <a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
  <!-- scroll to top End... -->
</footer>
<!-- end footer -->
