<section class="no-padding-bottom wow fadeIn">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-10 text-center center-col">
        <span class="margin-five no-margin-top display-block letter-spacing-2">{{ content.field_sub_text }}</span>
        <h1>{{ content.field_heading }}</h1>
        <p class="text-med width-90 center-col margin-seven no-margin-bottom">{{ content.field_body }}</p>
      </div>
    </div>
  </div>
</section>
