<section id="counter" class="fix-background" style="background-image:url('http://placehold.it/1920x1100');">
  <div class="opacity-full bg-dark-gray"></div>
  <div class="container position-relative">
    <div class="row">
      <!-- counter item -->
      <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten"
           data-wow-duration="300ms">
        <i class="icon-heart medium-icon"></i>
        <span class="timer counter-number white-text main-font font-weight-600" data-to="516"
              data-speed="7000"></span>
        <span class="counter-title light-gray-text">Pizzas Ordered</span>
      </div>
      <!-- end counter item -->
      <!-- counter item -->
      <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten"
           data-wow-duration="600ms">
        <i class="icon-happy medium-icon"></i>
        <span class="timer counter-number white-text main-font font-weight-600" data-to="478"
              data-speed="7000"></span>
        <span class="counter-title light-gray-text">Happy Clients</span>
      </div>
      <!-- end counter item -->
      <!-- counter item -->
      <div class="col-md-3 col-sm-6 bottom-margin-small text-center counter-section wow fadeInUp xs-margin-bottom-ten"
           data-wow-duration="900ms">
        <i class="icon-anchor medium-icon"></i>
        <span class="timer counter-number white-text main-font font-weight-600" data-to="652"
              data-speed="7000"></span>
        <span class="counter-title light-gray-text">Projects Completed</span>
      </div>
      <!-- end counter item -->
      <!-- counter item -->
      <div class="col-md-3 col-sm-6 text-center counter-section wow fadeInUp" data-wow-duration="1200ms">
        <i class="icon-chat medium-icon"></i>
        <span class="timer counter-number white-text main-font font-weight-600" data-to="458"
              data-speed="7000"></span>
        <span class="counter-title light-gray-text">Comments Reserved</span>
      </div>
      <!-- end counter item -->
    </div>
  </div>
</section>
