<section id="contact-form" class="wow fadeIn">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <p class="text-med text-uppercase letter-spacing-1 black-text font-weight-600">{{ field_heading }}</p>
        <p class="text-med">{{ content.field_body }}</p>
      </div>
      <div class="col-md-6 col-sm-6  col-md-offset-2">
        {{ content.field_form }}
      </div>
    </div>
  </div>
</section>
