<section id="counter" class="fix-background" style="background-image:url('{{ image_path }}');">
  <div class="opacity-full bg-dark-gray"></div>
  <div class="container position-relative">
    <div class="row">
      {% for stat in statistics %}
        <!-- counter item -->
        <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten"
             data-wow-duration="300ms">
          <i class="icon-{{ stat.icon }} medium-icon"></i>
          <span class="timer counter-number white-text main-font font-weight-600" data-to="{{ stat.number }}"
                data-speed="2000"></span>
          <span class="counter-title light-gray-text">{{ stat.text }}</span>
        </div>
        <!-- end counter item -->
      {% endfor %}
    </div>
  </div>
</section>
