<section id="jobs" class="wow fadeIn">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-md-12 text-center">
        <h3 class="section-title">{{ content.field_heading }}</h3>
      </div>
      <!-- end section title -->
    </div>
    <div class="row">
      {{ latest_jobs_block }}
    </div>
    <div class="row">
      <div class="col-md-12 text-center wow fadeInUp" data-wow-duration="1200ms">
        <a class="btn btn-black btn-small margin-four no-margin-bottom" href="{{ url('view.jobs.page') }}">View All Jobs</a>
      </div>
    </div>
  </div>
</section>
